p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#gallery {
    width: 75%;
    height: auto;
}

img {
    padding: 10px;
    max-width: 20%;
    height: auto;
    border-radius: 20px;
}