body {
    background-color:darkgray
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

div.gallery {
    width: 75%;
    height: auto;
    margin: auto;
}

img {
    padding: 10px;
    width: auto;
    height: 400px;
    border-radius: 20px;
}