body{
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    font-weight: bold;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.prodtable{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

.row1{
    display: table-row;
}

.prodN{
    width: 30%;
}

.prodP{
    width: 40%;
}

.prodB{
    width: 12%;
}

.prodBMax{
    width: 18%;
}

.prodbtn{
    height: 25px;
    width: 150px;
    font-size: 15px;
    text-align: left;
}

.prodBMax{
    visibility: hidden;
}

.upgradeTable{
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
}

.UpgName{
    width: 20%;
}

.UpgDesc{
    width: 62%;
}

.Upg{
    text-align: right;
    width: 18%;
}

.upgbtn{
    height: 25px;
    width: 150px;
    font-size: 15px;
    text-align: left;
}